snippet 2Vector "2vector" i
Matrix([ [$1,$2] ]).T $0 #Column
endsnippet

snippet 2Row "2Row" i
Matrix([ [$1, $2] ]) $0 #Row
endsnippet

snippet 2Matrix "2matrix" i
Matrix([ [$1,$2], [$3,$4] ]) $0
endsnippet

snippet 3Matrix "3matrix" i
Matrix([ [$1,$2, $3], [$4,$5, $6], [$7,$8,$9] ]) $0
endsnippet
