pre_expand "import re; snip.buffer[snip.line] = re.sub(r'[A-Za-z]', lambda m: '̶' + m.group(0) + '̶', snip.buffer[snip.line].replace('[ ]', '[x]')); snip.cursor.set(snip.line, len(snip.buffer[snip.line]))"
snippet done "Change [ ] to [x] and strikethrough text"
endsnippet
